# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Package Metadata
*.egg-info/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build Artifacts
build/
dist/

# Logs
*.log
logs/
